{% extends 'front.html.twig' %}

{% block body %}
    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_box text-center">
                        <h2 class="breadcrumb-title">IT Solutions</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-wrapper-reveal">
        <div class="feature-images-wrapper section-space--ptb_100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- section-title-wrap Start -->
                        <div class="section-title-wrap text-center">
                            <h3 class="heading">Préparer votre réussite, <br> nous fournissons <span class="text-color-primary">  des solutions informatiques.</span></h3>
                        </div>
                        <!-- section-title-wrap Start -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="feature-images__one">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 wow move-up">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-01">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <img class="img-fulid" src="{{ asset('assets/images/icons/mitech-box-image-style-01-image-06-100x108.png') }}" alt="">
                                            </div>
                                            <div class="content">
                                                <h5 class="heading">Web & App Développement </h5>
                                                <div class="text">We provide the most responsive and functional IT design for companies and.
                                                </div>
                                                <div class="circle-arrow">
                                                    <div class="middle-dot"></div>
                                                    <div class="middle-dot dot-2"></div>
                                                    <a href="#web">
                                                        <i class="far fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>

                                <div class="col-lg-4 col-md-6 wow move-up">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-01">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <img class="img-fulid" src="{{ asset('assets/images/icons/mitech-box-image-style-01-image-02-100x108.png') }}" alt="">
                                            </div>
                                            <div class="content">
                                                <h5 class="heading">Infographie</h5>
                                                <div class="text">It’s possible to simultaneously manage and transform information from one server to another.
                                                </div>
                                                <div class="circle-arrow">
                                                    <div class="middle-dot"></div>
                                                    <div class="middle-dot dot-2"></div>
                                                    <a href="#infographie">
                                                        <i class="far fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>

                                <div class="col-lg-4 col-md-6 wow move-up">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-01">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <img class="img-fulid" src="{{ asset('assets/images/icons/mitech-box-image-style-01-image-01-100x108.png') }}" alt="">
                                            </div>
                                            <div class="content">
                                                <h5 class="heading">Marketing Digital</h5>
                                                <div class="text">We propose feasible & practical plans for successfully transform businesses based on their needs.
                                                </div>
                                                <div class="circle-arrow">
                                                    <div class="middle-dot"></div>
                                                    <div class="middle-dot dot-2"></div>
                                                    <a href="#marketing">
                                                        <i class="far fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--===========  feature-large-images-wrapper  Start =============-->
        <div class="feature-large-images-wrapper section-space--ptb_100" id="web">
            <div class="container">
                <div class="cybersecurity-about-box">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="modern-number-01">
                                <h3 class="heading mt-30"><span class="text-color-itwebson-red"> Web & App Développement </span></h3>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="conact-us-wrap-one managed-it">
                                <h6 class="sub-heading">Un site Internet est de nos jours <span class="text-color-itwebson-red">une vitrine incontournable pour le développement de votre activité</span>.
                                    En effet en plus de rassurer vos partenaires, clients et investisseurs, un site Internet peut également
                                    vous apporter des prospects qualifiés. 
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!--========= Pricing  ==========-->
                <div class="pricing-table-area section-space--ptb_100 ">
                    <div class="pricing-table-title-area position-relative">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="section-title-wrapper text-center section-space--mb_60 wow move-up">
                                        <h6 class="section-sub-title mb-20">Package de création de site internet</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-table-content-area">
                        <div class="container">
                            <div class="row pricing-table-two">
                                <div class="col-12 col-md-4 col-lg-4 col-xl-4 pricing-table wow move-up">
                                    <div class="pricing-table__inner">
                                        <div class="pricing-table__header">
                                            <h5 class="pricing-table__title">Free</h5>
                                            <div class="pricing-table__price-wrap">
                                                <h6 class="currency">$</h6>
                                                <h6 class="price">0</h6>
                                                <h6 class="period">/mo</h6>
                                            </div>
                                        </div>
                                        <div class="pricing-table__body">
                                            <ul class="pricing-table__list">
                                                <li>03 projects</li>
                                                <li>Power And Predictive Dialing</li>
                                                <li>Quality &amp; Customer Experience</li>
                                                <li><span class="featured">Try for free, forever!</span></li>
                                            </ul>
                                        </div>
                                        <div class="pricing-table__footer">
                                            <a href="#" class="ht-btn ht-btn-default btn--secondary">Get started</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 col-lg-4 col-xl-4 pricing-table pricing-table--popular wow move-up">
                                    <div class="pricing-table__inner">
                                        <div class="pricing-table__feature-mark">
                                            <span>Choix populaire</span>
                                        </div>
                                        <div class="pricing-table__header">
                                            <h5 class="pricing-table__title">Personal</h5>
                                            <div class="pricing-table__price-wrap">
                                                <h6 class="currency">$</h6>
                                                <h6 class="price">19</h6>
                                                <h6 class="period">/mo</h6>
                                            </div>
                                        </div>
                                        <div class="pricing-table__body">
                                            <ul class="pricing-table__list">
                                                <li>10 projects</li>
                                                <li>Power And Predictive Dialing</li>
                                                <li>Quality &amp; Customer Experience</li>
                                                <li>24/7 phone and email support</li>
                                            </ul>
                                        </div>
                                        <div class="pricing-table__footer">
                                            <a href="#" class="ht-btn ht-btn-default btn--secondary">Get started</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 col-lg-4 col-xl-4 pricing-table wow move-up">
                                    <div class="pricing-table__inner">
                                        <div class="pricing-table__header">
                                            <h5 class="pricing-table__title">Group</h5>
                                            <div class="pricing-table__price-wrap">
                                                <h6 class="currency">$</h6>
                                                <h6 class="price">29</h6>
                                                <h6 class="period">/mo</h6>
                                            </div>
                                        </div>
                                        <div class="pricing-table__body">
                                            <ul class="pricing-table__list">
                                                <li>50 projects</li>
                                                <li>Power And Predictive Dialing</li>
                                                <li>Quality &amp; Customer Experience</li>
                                                <li>24/7 phone and email support</li>
                                            </ul>
                                        </div>
                                        <div class="pricing-table__footer">
                                            <a href="#" class="ht-btn ht-btn-default btn--secondary">Get started</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--===========  feature-large-images-wrapper  Start =============-->
        <div class="feature-large-images-wrapper section-space--ptb_100" id="infographie">
            <div class="container">
                <div class="cybersecurity-about-box">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="conact-us-wrap-one managed-it">
                                <h6 class="sub-heading">Le web marketing permet de dynamiser un réseau, de développer une image de marque. Mais aussi de diffuser 
                                    des informations et des produits à échelle mondiale. Cette stratégie doit être <span class="text-color-itwebson-blue"> adaptée à la taille et aux besoins de votre entreprise</span>. 
                                    Et également en fonction de vos ‘cibles’ et vos offre. <br/>
                                    Tous ces outils de webmarketing sont complexes, se complètent et se développent en permanence. D’où l’importance de se tenir informé régulièrement 
                                    de l’évolution de ces outils publicitaires. Dans un monde hyper connecté, il faut que votre entreprise capte l’attention du consommateur et le fidéliser. 
                                </h6>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="modern-number-01">
                                <h3 class="heading mt-30"> <span class="text-color-itwebson-blue"> Infographie</span></h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--===========  feature-large-images-wrapper  Start =============-->
        <div class="feature-large-images-wrapper section-space--ptb_100" id="marketing">
            <div class="container">
                <div class="cybersecurity-about-box">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="modern-number-01">
                                <h3 class="heading mt-30"><span class="text-color-itwebson-orange"> Marketing Digital</span></h3>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="conact-us-wrap-one managed-it">
                                <h6 class="sub-heading">La visibilité sur les medias sociaux est aujourd’hui un ingrédient incontournable <span class="text-color-itwebson-orange"> d’une bonne stratégie
                                    E-marketing</span>. Elle peut vous apporter des prospects, des clients, voir des articles dans la presse ou des partenariats.
                                    La clé pour beaucoup d’entreprises est donc d’assurer cette présence sans se laisser submerger par la complexité et la densité de la tâche.
                                    Recevez une méthode « minimaliste » en trois phases, pour exister sur le web social, sans vous perdre dans une stratégie trop compliquée. 
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}